<table class="table text-center table-striped">
    <thead>
        <tr>
            <!-- <th>Id</th> -->
            <th>Number #1</th>
            <th>Number #2</th>
            <th>Number #3</th>
            <th>Number #4</th>
            <th>Number #5</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of DrawList">
            <!-- <td>{{dataItem.DrawId}}</td> -->
            <td>{{dataItem.DrawNumber1}}</td>
            <td>{{dataItem.DrawNumber2}}</td>
            <td>{{dataItem.DrawNumber3}}</td>
            <td>{{dataItem.DrawNumber4}}</td>
            <td>{{dataItem.DrawNumber5}}</td>
            <td>{{dataItem.DrawDateTime}}</td>
        </tr>
    </tbody>
</table>